@tailwind base;
@tailwind components;
@tailwind utilities;

.vertical-progress-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  position: relative;
}

.step {
  display: flex;
  align-items: center;
  margin: 20px 0;
  position: relative;
}

.step .circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  margin-right: 10px;
}

.step .label {
  font-size: 1em;
}

.step.active .circle {
  background-color: #76c7c0;
}

.vertical-progress-container::before {
  content: '';
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 6px;
  background-color: #e0e0e0;
  z-index: -1;
}

.step.active::before {
  background-color: #76c7c0;
  position: absolute;
  left: 15px;
  top: 0;
  bottom: 0;
  width: 6px;
  height: calc(100% + 20px);
  z-index: -1;
}